.profile-section {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow-y: scroll;
  padding-top: 1rem;
}
.profile-top-title {
  display: inline-block;
  font-size: 14px;
  color: var(--gray-300);
  margin-bottom: 1rem;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.info-section {
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-color: var(--secondary-color);
  width: max-content;
  height: max-content;
  padding: 2rem;
  color: var(--gray-100);
}
.user-info span {
  color: var(--light-blue);
}

.user-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: var(--gray-500);
}

.user-message-container p {
  margin-top: 0.6rem;
}

.user-message-container .btn {
  margin-top: 3rem;
  background-color: var(--blue-600);
  padding: 0.5rem 1.5rem;
}

@media only screen and (min-width: 768px) {
  .profile-section {
    width: calc(100% - 95px);
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    margin-left: 95px;
    margin-left: 95px;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-section {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
  .profile-top-title {
    font-size: 16px;
  }
  .user-message-container {
    width: 90%;
    height: 90%;
  }
}
