.liked-videos-list {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow-y: scroll;
  padding-top: 1rem;
}
.liked-top-title {
  display: inline-block;
  font-size: 12px;
  color: var(--gray-300);
  margin-bottom: 16px;
  background-color: var(--bg-hover-blue);
  padding: 4px 6px;
}

.user-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: var(--gray-500);
}

.user-message-container p {
  margin-top: 0.6rem;
}

.user-message-container .btn {
  margin-top: 3rem;
  background-color: var(--blue-600);
  padding: 0.5rem 1.5rem;
}

@media only screen and (min-width: 768px) {
  .liked-videos-list {
    width: calc(100% - 95px);
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    margin-left: 95px;
    margin-left: 95px;
  }
}

@media only screen and (min-width: 1024px) {
  .liked-videos-list {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
  .liked-top-title {
    font-size: 14px;
    padding: 6px 8px;
  }
  .user-message-container {
    width: 90%;
    height: 90%;
  }
}
